<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="{{ .Site.Params.Author }}">
	<meta name="description" content="{{ .Site.Params.Description }}">

	<link rel="stylesheet" href="/css/bootstrap-4.5.2.min.css">

	{{ $title := print .Title " – " .Site.Title }}
	{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
	<title>{{ $title }}</title>

	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
	<link href="/css/blog-20200817.css" rel="stylesheet">
</head>
<body>

<div class="alert alert-success mb-3" role="alert" style="border: none; border-radius: unset;">
	Domain name {{ .Site.Params.DomainName }} might be for sale. Contact t@punyanama.com for details.
</div>

{{ partial "nav.html" . }}
{{ block "main" . }}{{ end }}
{{ partial "scripts.html" . }}

<footer class="blog-footer">
	<p>© {{ now.Format "2006" }} {{ .Site.Params.Author }}</p>
</footer>
</body>
</html>

