{{ define "main" }}
<main>
	{{ $blog := where .Site.RegularPages "Section" "blog" }}
	{{ $featured := where $blog ".Params.featured" "==" true }}
	<section>
		{{ range first 1 $featured }}
		<a href="{{ .RelPermalink }}">{{ .Title }}</a>
		<time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
		<p>{{ .Summary }}</p>
		{{ end }}
	</section>
	<ul>
		{{ range first 3 (after 1 $featured) }}
		<li>
			{{ partial "category.html" . }}
			<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			{{ partial "date.html" . }}
			<p>{{ .Summary }}</p>
		</li>
		{{ end }}
	</ul>
	{{ $remainders := where $blog ".Params.featured" "!=" true }}
	<ul>
		{{ range first 5 $remainders }}
		<li>
			{{ partial "category.html" . }}
			<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			{{ partial "date.html" . }}
			<p>{{ .Content | truncate 250 }}</p>
			<a href="{{ .RelPermalink }}">Read more</a>
		</li>
		{{ end }}
	</ul>
	<a href="/blog/">Show all posts</a>
	{{ partial "all-category.html" . }}
	{{ partial "all-tag.html" . }}
</main>
{{ end }}
